$font-body: "Poppins", sans-serif;
$font-heading: "Neue Montreal", sans-serif;

// Durations
$dur-S: 0.4s;
$dur-M: 0.8s;
$dur-L: 1.2s;

// Easings
$ease-in-out: cubic-bezier(0.76, 0, 0.24, 1);
$ease-out: cubic-bezier(0.25, 1, 0.5, 1);
$ease-in: cubic-bezier(0.5, 0, 0.75, 0);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
